<head>
  <meta charset="utf8">
  <title> Transparant Login</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <!-- <base href="/"> -->
</head>
<body>
  <div class="loginBox">

      <h2>ADD BUS WITH SPECIFIED DEvice id for particular school</h2>
    <form action='/busNumberWithDevice' method='POST'>
      <p>School name</p>
      <input type="text" name="schoolname" placeholder="Enter schoolname here">
      <p>Bus Number</p>
      <input type="number" name="busnumber" placeholder="Enter busnumber here">
      <p>Device Id</p>
      <input type="number" name="deviceid" placeholder="Enter deviceid here">

      <p><input type="submit" name="" value="Submit"></p>

    </form>
  </div>
</body>
