
<head>
  <meta charset="utf8">
  <title> Transparant Login</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <!-- <base href="/"> -->
</head>
<body>
  <div class="loginBox">

      <h2>ADD PARENT AND SCHOOL DETAILS</h2>
    <form action='/addParent' method='POST'>
      <p>Phone number</p>
      <input type="text" name="username" placeholder="Enter phone number here">
      <p>Child name</p>
      <input type="text" name="childname" placeholder="Enter childname">
      <p>Parent Name</p>
      <input type="text" name="parentname" placeholder="Enter parent name">
      <p>School name</p>
      <input type="text" name="schoolname" placeholder="Enter school name">
      <p>Bus number</p>
      <input type="number" name="busnumber" placeholder="Enter bus number">
      <p><input type="submit" name="" value="Sign In"></p>
      <a href="#">Forget Password</a>
    </form>
  </div>
</body>
