<head>
  <meta charset="utf8">
  <title> Transparant Login</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <!-- <base href="/"> -->
</head>

<body>
  <div class="loginBox">

      <h2>ADD SCHOOL HERE</h2>
    <form action='/addSchool' method='POST'>
      <p>School Name</p>
      <input type="text" name="name" placeholder="enter the school name">
      <p>School Username</p>
      <input type="text" name="username" placeholder="enter username">
      <p>Address</p>
      <input type="text" name="address" placeholder="enter address here">
      <p>password</p>
      <input type="password" name="password" placeholder="enter password here">
      <p><input type="submit" name="" value="Add school!"></p>
      <a href="#">Forget Password</a>
    </form>
  </div>
</body>
