<html>
	<head>
		<meta charset="utf-8">
		<title>Login to Celyes</title>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" media="all">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" media="all">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="all">
		<link href="css.css" rel="stylesheet" media="all">

	</head>
	<body class="login-body">
	<div class="row">
		<div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
				<div class="col s12 m5 login">
					<h4 class="center">Admin Login</h4>
					<br>
					<form action="/login" method="post" autocomplete="off">
						<div class="row">
							<div class="input-field">
								<input type="text" id="user" name="username" class="validate" required="required" placeholder="Username">

							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input type="password" id="pass" name="password" class="validate" required="required" placeholder="Password">

							</div>
						</div>
						<div class="row">
							<div class="switch col s6">

							</div>
							<div class="col s6">
								<button type="submit" name="login" class="btn waves-effect waves-light blue right">Log in</button>
							</div>
						</div>
					</form>
				</div>
				<!-- Signup form -->
			<div class="col s12 m5 login">
					<h4 class="center">School Login</h4>
					<br>
					<form action="/schoollogin" method="post" autocomplete="off">
						<div class="row">
							<div class="input-field">
								<input type="text" id="user" name="username" class="validate" required="required" placeholder="Username">

							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input type="password" id="pass" name="password" class="validate" required="required" placeholder="Password">

							</div>
						</div>
						<div class="row">
							<div class="switch col s6">

							</div>
							<div class="col s6">
								<button type="submit" name="login" class="btn waves-effect waves-light blue right">Log in</button>
							</div>
						</div>
					</form>
			</div>
		</div>
	</div>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"></script>
	<script>
	jQuery(document).ready(function($){
	$(".dropdown-button").dropdown();
	$('.modal').modal();
	$(".signup-toggle").click(function(){
		$(this).hide();
		$(".signupForm").show(300);
		$(".policy").css("visibility","visible");
	});
});
	</script>
</html>
