<h1>menu page</h1>
<h2>MAIN DASHBOARD</h2>

<li>
  <a href="/addschoolpage">ADD A SCHOOl</a>
</li>
<li>
  <a href="/schoolloginpage">VIEW A SCHOOL DASHBOARD</a>
</li>
<li>
 <a href="/addparentpage">ADD PARENT AND CHILDREN DETAILS FOR SPECIFIED SCHOOL</a>
</li>
<li>
 <a href="/mappage">view map</a>
</li>
<li>
 <a href="/addBuspage">add bus</a>
</li>
<li>
 <a href="/getAllDevicesState">get all devices state</a>
</li>
<p><a href="/logout">LOGOUT</a></p>
