<form id="form" action="/sendSchoolNotification" method="post">
    <div>
        <select name="schools[]" id="inscompSelected" multiple="multiple" class="lstSelected">
            <option value="goldengate">goldengate</option>
            <option value="paramount">paramount</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="text" name="text" placeholder="Enter message here">
        <p>text</p>
        <input type="submit" value="submit">
    </div>
</form>
