<h1>SCHOOL LOGIN PAGE</h1>

<form  action="/schoollogin" method="POST">
  <input type="text" name="username"  placeholder="username">
  <input type="password" name="password"  placeholder="password">
  <button >LOGIN</button>
</form>
<p><a href="/logout">LOGOUT</a></p>
