<div class="row" id="removeSchool">
                                <table class="table table-striped" id="makeEditable">
                                    <thead id="taHead">
                                        <tr>
                                            <th scope="col">S.N.</th>
                                            <th scope="col">School</th>
                                            <th scope="col">Buses</th>
                                            <th scope="col">Children</th>
                                            <th scope="col">Parents</th>
                                            <th scope="col"><span style="float:right"><button class="btn btn-primary pull-right" id="but_add">Add New Row</button></span></th>

                                        </tr>
                                    </thead>
                                    <tbody id="tableOverflow">
                                        <tr id="row1" onClick=s>
                                            <th scope="row">1</th>
                                            <td>Pulchowk Campus</td>
                                            <td>100</td>
                                            <td>1000</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Pulchowk Campus</td>
                                            <td>100</td>
                                            <td>1000</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Pulchowk Campus</td>
                                            <td>100</td>
                                            <td>1000</td>
                                            <td>150</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <script>
                      var x=  document.getElementById("tableOverflow").value;
                      console.log(x);
                            </script>
